* {
    background-color: khaki;
    /* background-image: url('background.jpg'); */
}

#contents {
    /* display: flex; */
    /* width: 100%; */
    margin-left: 20rem;
}

h1 {
    margin: 1rem auto 0.5rem auto;
    text-align: center;
    font-family: serif;
    align-content: center;
    contain: content;
    border: solid thin black;
    background-color: pink;
}


#board-and-score {
    display:inline-flex;
    border: solid 3px white;
    border-radius: 10px;
    background: darkolivegreen;
    padding: 10px;
    box-shadow: 2px 2px 2px #000000;
}

#score-output, #prompt {
    display: inline-flex;
    background:  darkolivegreen;
}


#score-area p, #word, button{
    background-color: white;
}

#score-area, #two-buttons {
    background: darkolivegreen;
}

#submission-area {
    margin-bottom: 1rem;
    display: block;
    border: solid thin black;
    background: blue;
}


#scoreboard {
    display: inline-block;
    margin-left: 20px;
    background:  darkolivegreen;
}
    
#input-button {
    display: block;
    background:  blue;

}

.valid-words {
    background:white;
}

#resultInput, #resultValidWord {
    display: inline-block;
}


.all-boxes {
    width: 2rem;
    height: 2rem;
    border: black solid 1px;
    background: white;
    position: relative;
}

.letter-tile {
    font-size: 1rem;
    margin: 0%;
    padding: 0%;
    width: 1.85rem;
    height: 1.85rem;
    border: black solid 1px;
    background: #32CD32;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px #000000;
    /* font-size: 15px; */
}

#main-board {
    display: grid;
    grid-template-columns: repeat(15, 2rem);
    grid-gap: 0rem;
}

#main-rack   {
    width: 22.8rem;
    height: 5rem;
    border: black solid 1px;
    border-radius: 0.25rem;
    background: greenyellow;
    display: flex;
    margin-left: 5rem;
    margin-top: 0.5rem;
    box-shadow: 2px 2px 2px #000000;

}



#main-rack>.class-player-rack {
    margin: 5px 5px 5px 5px;
    padding: 3px 3px 3px 3px;
    width: 2.5rem;
    height: 2.5rem;
    border: black solid 1px;
    border-radius: 0.25rem;
    background: #add8e6;
}



#main-board>.all-boxes>.letter-tile {
    background: orange;
    position: absolute;
    top: 0rem;
}

/* #main-board>.all-boxes>.remove {
    background: white;
} */


/* Board Colours */

/* 3L */
.dropzone3L {
    background: #0859C6;
    font-size: 0.5rem;
}


/* 3W */
.dropzone3W {
    background: #d0312d;
    font-size: 0.5rem;
}

/* 2L */
.dropzone2L {
    background: #00DBFF;
    font-size: 0.5rem;
}

/* 2W */
.dropzone2W {
    background: #ffb6c1;
    font-size: 0.5rem;
}

/* Centre star */
#dropzone-box113 {
    background-image: url('Star.jpg');
    background-size: cover;
}