* {
    background-color: khaki;
}

#contents {
    margin-left: 5rem;
}

h1 {
    margin: 1rem auto 0.5rem auto;
    text-align: center;
    font-family: serif;
    align-content: center;
    contain: content;
    border: solid thin black;
    background-color: pink;
}



#board-and-score {
    display:inline-flex;
    border: solid 0.188rem white;
    border-radius: 0.625rem;
    background: darkolivegreen;
    padding: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.125rem #000000;
}

#rules {
    background: darkolivegreen;
    margin: 0rem;
    padding: 0rem;
}

li {
    background: white;
}

ul {
    border-radius: 0.625rem;
    border: solid thin black;
    background: white;
    margin: 0rem 0.625rem 0rem 0.625rem;
}

#score-output, #prompt {
    display: inline-flex;
    background:  darkolivegreen;
    padding: 0rem;
}


#score-area p, #word, button{
    background-color: white;
}

#score-area, #two-buttons {
    background: darkolivegreen;
}

#submission-area {
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    display: block;
    border: solid thin black;
    background: blue;
}



#scoreboard {
    display: inline-block;
    margin-left: 1.25rem;
    background:  darkolivegreen;
}
    
#input-check {
    display: block;
    background:  blue;

}

#resultInput {
    display: inline-block;
}

#words-msg {
    display: inline-block;
    padding: 0rem;
    margin: 0rem;
}

.valid-words {
    background:white;
}

#resultValidWord {
    margin: 1rem;
    display: inline-block;
    background: white;
}


.all-boxes {
    width: 2rem;
    height: 2rem;
    border: black solid 1px;
    background: white;
    position: relative;
}

.letter-tile {
    font-size: 1rem;
    margin: 0%;
    padding: 0%;
    width: 1.85rem;
    height: 1.85rem;
    border: black solid 1px;
    background: #32CD32;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.125rem #000000;
    /* font-size: 15px; */
}

.letter-p {
    background: transparent;
    margin: 0rem;
    padding: 0rem;
}

.letter-tile>.sub-point {
    background-color: transparent;
    margin: -0.625rem 0.625rem -0.625rem 5px;
    position:absolute;
    font-size: 0.6rem;
}

.rack-sub {
    background: transparent;
    position: absolute;
    font-size: 1.3rem;
    margin: 3.5rem 0rem 0rem 8rem;
    font-family: serif;
}


#main-board {
    display: grid;
    grid-template-columns: repeat(15, 2rem);
    grid-gap: 0rem;
}

#main-rack   {
    width: 22.8rem;
    height: 5rem;
    border: black solid 1px;
    border-radius: 0.25rem;
    background: greenyellow;
    display: flex;
    margin-left: 28rem;
    margin-top: 0.5rem;
    box-shadow: 0.125rem 0.125rem 0.125rem #000000;

}



#main-rack>.class-player-rack {
    margin: 0.313rem 0.313rem 0.313rem 0.313rem;
    padding: 0.188rem 0.188rem 0.188rem 0.188rem;
    width: 2.5rem;
    height: 2.5rem;
    border: black solid 1px;
    border-radius: 0.25rem;
    background: #add8e6;
}




#main-board>.all-boxes>.letter-tile {
    background: sandybrown;
    position: absolute;
    top: 0rem;
}



/* Board Colours */

/* 3L */
.dropzone3L {
    background: #0859C6;
    font-size: 0.5rem;
}


/* 3W */
.dropzone3W {
    background: #d0312d;
    font-size: 0.5rem;
}

/* 2L */
.dropzone2L {
    background: #00DBFF;
    font-size: 0.5rem;
}

/* 2W */
.dropzone2W {
    background: #ffb6c1;
    font-size: 0.5rem;
}

/* Centre star */
#dropzone-box113 {
    background-image: url('Star.jpg');
    background-size: cover;
}
