body {
    margin: 0;
    box-sizing: border-box;
    /* width: 100vw; */
    /* height: 100vh; */
    /* overflow: hidden; */
    /* display: flex; */
}


section {
    width: 2rem;
    height: 2rem;
    border: black solid 1px;
    background: white;
}

/* #main2>section {
    width: 2rem;
    height: 2rem;
    border: black solid 1px;
    background: blue;
} */




/* Left here, center the letter A inside the tile */
.letter-tile {
    margin: 0%;
    padding: 0%;
    width: 1.85rem;
    height: 1.85rem;
    border: black solid 1px;
    background: #32CD32;
    text-align: center;
    /* font-size: 15px; */
}

#main2>section {
    margin: 5px 5px 5px 5px;
    width: 2.5rem;
    height: 2.5rem;
    border: black solid 1px;
    border-radius: 0.25rem;
    background: #add8e6;
}

#main1 {
    margin: 10px 10px 10px 10px;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(15, 2rem);
}

#main2   {
    margin: 10px 10px 10px 10px;
    width: 25rem;
    height: 5rem;
    border: black solid 1px;
    border-radius: 0.25rem;
    background: greenyellow;
    display: flex;
}





/* #letter-tile div[draggable] {
    display: inline-block;
    width: 8vw;
    background: white;
    color: black;
    margin: 1vw;
    padding: 2em;
    text-align: center;
    border-radius: 0.5em;
} */








/* Board Colours */

/* 3L */
.dropzone3L {
    background: #0859C6;
    font-size: 0.5rem;
}


/* 3W */
.dropzone3W {
    background: #d0312d;
    font-size: 0.5rem;
}

/* 2L */
.dropzone2L {
    background: #00DBFF;
    font-size: 0.5rem;
}

/* 2W */
.dropzone2W {
    background: #ffb6c1;
    font-size: 0.5rem;
}

/* Centre star */
/* #dropzone-box113 ::after {
    background: black;
} */
#dropzone-box113::after {
    content: "Star";
  }

.all-boxes {
      /* background: green; */
      position: relative;
  }
  
  
  #main1>section .letter-tile {
    font-size: 1rem;
    background: orange;
    position: absolute;
    top: 0rem;
}




